body {
    font-family: "Archivo Narrow", sans-serif;
}

h1 {
    margin: 0px;
    text-align: center;
    font-size: 80px;
    line-height: 1;
    margin-bottom: 16px;
    color: rgb(28, 30, 91);
}

h2 {
    margin: 0px;
    text-align: center;
    font-size: 30px;
    line-height: 1;
    color: rgba(28, 30, 91, 0.423);
}

h3 {
    margin: 0px;
    text-align: center;
    font-size: 40px;
    line-height: 1;
    color: rgb(245, 245, 245); 
    margin-bottom: 38px;
}

h4 {
    margin: 0px;
    font-size: 20px;
    line-height: 1;
    color: rgb(26, 7, 73);
    margin-top: 4px; 
    margin-bottom: 10px;
    
}

section:nth-of-type(2) h3 {
    margin-bottom: 38px;
    color: rgb(26, 7, 73);
}

p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 16px;
    color: rgb(188, 194, 201);
}

.large-text {
    font-size: 26px;
    line-height: 1.4;
    margin: 0;
    text-align: center;
    color: rgb(188, 194, 201);

}

.text p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    color: rgb(0, 0, 0);
}



.content-column {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image: url(../images/my-image.jpg);
    background-size: cover;
    background-position: center;
}

header .content-column {
    padding-top: 166px;
    padding-bottom: 188px;
    
}

section .content-column {
    padding-top: 48px;
    padding-bottom: 40px;
    
}

section:first-of-type {
    background-color: rgb(37, 15, 80);
}

section:first-of-type img {
  width: 400px;
  height: 300px;
  object-fit: cover;   
  float: right;
  margin-left: 40px;
  margin-bottom: 40px;
  border: 1px solid rgb(200, 200, 216);
}

section:nth-of-type(2) {
    padding-bottom: 24px;
    background-color: rgb(167, 178, 188);

}

section:nth-of-type(3) {
    padding-bottom: 60px;
    background-color: rgb(37, 15, 80);
}

section:nth-of-type(3) .content-column {
    width: 710px;
}

.grid {
  display: grid;
  grid-template-columns: 450px 450px;
  column-gap: 30px;
  row-gap: 24px;
  
}

.item {
  display: flex;
  gap: 12px;
}

.item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

footer {
    padding-top: 40px;
    padding-bottom: 24px;
    background-color: rgb(167, 178, 188);
   
}

footer p {
    color:rgb(26, 7, 73);
}
