html {
  color: rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-size: 15pt;
  padding-left: 20%;
  padding-right: 20%;
}
body {
    margin: 5%;
}

h1 {
    color: black;
    font-weight: 600;
    font-size: 45pt;
}

h2 {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13pt;
    letter-spacing: .2em;
    border-bottom: 2px solid #333; 
    padding-bottom: 8px; 
   
}

h3 {
    color: darkgray;
    font-weight: 400;
    font-size: 10pt;
    letter-spacing: .1em;
}

fw1 {
    font-weight: 300;
}
fw2 {
    font-weight: 400;
}
fw3 {
    font-weight: 500;
}
fw4 {
    font-weight: 600;
}
fw5 {
    font-weight: 700;
}

fs1 {
    font-style: normal;
}

fs2 {
    font-style: italic;
}

ls1 {
    letter-spacing: normal;
}

ls2 {
    letter-spacing: .1em;
}

ls3 {
    letter-spacing: .3em;
}

ls4 {
    letter-spacing: .5em;
}

tt1 {
    text-transform: none;
}

tt2 {
    text-transform: capitalize;
}

tt3 {
    text-transform: lowercase;
}

tt4 {
    text-transform: uppercase;
}

td1{
    text-decoration: none;
}

td2{
    text-decoration: underline;
}

td3{
    text-decoration: overline;
}

td4{
    text-decoration: line-through;
}

